*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: calc(100vw - (100vw - 100%));
  min-width: 320px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Typography */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h5,
.more-btn,
.footer-title {
  font-weight: 900;
}

h4,
h6,
p {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h5,
h4 {
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

h6,
.nav-links a {
  font-size: 0.9rem;
}

.nav-links a {
  text-transform: uppercase;
}

p,
.more-btn {
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #090909;
}

.post-date,
.more-btn {
  color: #000000;
}

.post-date {
  text-transform: uppercase;
}

.post-title {
  color: #141414;
}

.post-text {
  color: #505050;
}

.footer-title {
  color: #ececec;
}

.footer-copy {
  color: #d7d7d7;
}

.nav-bar,
.post-card {
  background-color: #f5f5ef;
}

.hero {
  color: #f5f5ef;
  background-color: #000000;
}

body {
  background-color: #f5f5ef;
}

.hero-text {
  font-size: 1.2em;
}

.about-title {
  max-width: 80%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  padding-top: 2em;
  font-weight: 500;
}

.about-text {
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
  word-spacing: 0.2em;
  width: 80%;
  margin: 3em auto;
  line-height: 1.3em;
}

.servicios-title,
.nosotros-el {
  text-align: center;
  margin-top: 1.5em;
}

/* images */

.hero-img {
  width: 100%;
  min-width: 320px;
  min-height: 290px;
  max-height: 600px;
  filter: brightness(40%);
  object-fit: cover;
  object-position: center;
}

.post-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 3px;
  object-position: center center;
}

.read-post-img {
  width: min(90%, 900px);
  display: block;
  margin: 0 auto;
  min-height: 190px;
  max-height: 480px;
  object-fit: cover;
  object-position: center top;
}

.me-img {
  width: 185px;
  height: 185px;
  border-radius: 50%;
}

/* layout header*/

.nav-bar {
  display: grid;
  grid-template-columns: 0.5em min-content 1fr minmax(150px, 20%);
  grid-template-areas: '. logo title link';
  align-items: baseline;
  text-align: center;
  gap: 0 0.5em;
}

.logo {
  grid-area: logo;
  align-self: center;
}

.whatsapp {
  color: #128c7e;
}
.nav-title {
  grid-area: title;
  text-align: left;
}

.nav-links {
  grid-area: link;
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  /* gap: 1em; */
}

/* layout hero */

.hero {
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 2fr 1fr;
}

.hero-img,
.hero-content {
  grid-column: 1 / -1;
}

.hero-img {
  grid-row: 1 / -1;
}

.hero-content {
  grid-row: 2 / -1;
  z-index: 1;
  padding: 0 1em 1em;
  width: min(100%, 700px);
}

.hero-date,
.hero-text {
  margin-top: 0;
  margin-bottom: 0.6em;
  line-height: 1.2;
}

.hero-title {
  margin: 0 0 0.3em;
}

/* layout about-el */

.about-el {
  display: block;
}

.about-img {
  width: min(100%, 950px);
  display: block;
  margin: auto;
  min-height: 190px;
  max-height: 600px;
  object-fit: cover;
  object-position: center 40%;
}

@media (min-width: 1300px) {
  .about-el {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    margin: 0 auto;
    max-height: 800px;
  }
}

/* layout articles */

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 1em;
  margin-bottom: 1.5em;
}

.post-card {
  display: flex;
  flex-direction: column;
  margin: 2em 1.2em 0.5em;
}

.post-img {
  align-self: center;
}

.post-date {
  margin-top: 0.8em;
  margin-bottom: 0;
}

.post-title {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.post-text {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.post-text li {
  margin: 0.5em 0;
}

/* View more button */

.more-btn {
  display: block;
  margin: 1em auto 2em;
  border: none;
  background-color: #ffffff;
  text-decoration: underline;
  text-transform: capitalize;
}

/* footer layout */

footer {
  background-color: #202020;
  min-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  padding: 0.5em 0;
  margin: 0;
}

.footer-copy {
  padding: 0;
  margin: 0;
}

/* read-post layout */

.read-post-upper {
  margin: 0 auto;
  width: min(90%, 800px);
}

.read-post-lower {
  margin: 0 auto 2em;
  width: min(90%, 800px);
}

.read-post-date {
  margin-bottom: 0;
}

.recent-post {
  text-align: center;
  margin: 2.5em 0 0.5em;
}

/* about-me layout */

.me-profile {
  margin: 1em 1.25em;
  display: grid;
  grid-template-columns: min-content 2fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'image image'
    'text text';
  align-items: center;
}

.me-img {
  grid-area: image;
}

.me-description {
  grid-area: text;
}

.me-img,
.me-description {
  margin: 0 0.5em;
}

.me-description {
  max-width: 1000px;
}
/* media-queries */
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }

  .me-profile {
    grid-template-areas:
      '. image text .'
      '. image text .';
    margin: 1.5em 2em;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 18px;
  }

  .me-profile {
    grid-template-columns: 1fr min-content 6fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.hero-overlay {
  text-decoration: none;
  cursor: pointer;
}

/* form */

.contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: whitesmoke;
}

.contact-title {
  color: black;
  text-align: center;
}

.contact-form {
  color: black;
  /* max-width: 400px; */
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #b69d74;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: whitesmoke;
  border: 1px solid black;
  font-weight: bold;
  color: #6b6357;
}

@media (max-width: 575.98px) {
  .contact-form {
    width: 80%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .contact-form {
    width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .contact-form {
    width: 60%;
  }
}

/* Whatsapp corner button */

.whatsapp-btn-container {
  position: fixed;
  right: 15px;
  opacity: 0;
  bottom: -50px;
  padding: 0.5rem;
  animation: fade-up 1000ms forwards;
  animation-delay: 1000ms;
  background-color: white;
  border-radius: 50%;
  /* border: 0.1em solid gray; */
}

@keyframes fade-up {
  100% {
    bottom: 24px;
    opacity: 1;
  }
}

.whatsapp-btn-container .whatsapp-btn {
  font-size: 48px;
  color: #25d366;
  display: inline-block;
  transition: all 400ms;
}

.whatsapp-btn-container .whatsapp-btn:hover {
  transform: scale(1.2);
}

/* clientes carrousel */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: whitesmoke;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), whitesmoke);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), whitesmoke);
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

.clients-title {
  text-align: center;
  color: #000000;
  margin: 2em 0;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
  cursor: pointer;
}
a:focus {
  outline: black;
}
a:active {
  color: black;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  margin: 0em 20em;
}
hr.solid-long {
  border-top: 3px solid #bbb;
  margin: 2em 6em;
}

.team-title {
  max-width: 80%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

.team-text {
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
  word-spacing: 0.2em;
  width: 80%;
  margin: 2em auto;
  line-height: 1.3em;
}

.team-link {
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  padding-left: 0.2em;
  width: 80%;
  margin: 2em auto;
  line-height: 1.3em;
}
.team-el {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
